<p id="notice"><%= notice %></p>

<div class="container">
  <div class="header">
    <h3>
      <%= @post.heading %>
    </h3>

    <p class="listing-url">
      <%= link_to @post.external_url, @post.external_url %>
    </p>

    <p class="back">
      <%= link_to 'Back', :back %>
  </div>

  <div class="row">
    <div class="col-md-7" id="post-images">
      <% if @images.blank? %>
        <%= image_tag "no-image.gif", class: "thumbnail" %>
      <% else %>
        <% @images.each do |image| %>
          <%= image_tag image.url, class: "thumbnail" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-5">
      <div class="basic-info">
        <h4>Basic Info</h4>
        Price: <%= number_to_currency(@post.price, precision: 0) %><br>
        Last Updated: <%= "#{time_ago_in_words(Time.at(@post.timestamp.to_i))} ago" %><br>
        
        <% if @post.neighborhood.present? %>
          Neighborhood: <%= @post.neighborhood %><br>
        <% end %>

        <% if @post.bedrooms.present? %>
          Bedrooms: <%= @post.bedrooms %><br>
        <% end %>

        <% if @post.bathrooms.present? %>
          Bathrooms: <%= @post.bathrooms %><br>
        <% end %>
        
        <% if @post.sqft.present? %>
          Square Footage: <%= @post.sqft %><br>
        <% end %>
      </div>
      
      <div class="description">
        <h4>Description</h4>
        <p>
        <%= simple_format(@post.body) %>
        </p>
      </div>
    </div>
  </div>
</div>
