<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The easy way to find your dream rental in Manhattan">
  <meta name="author" content="Dylan Wolff">
  <link rel="icon" href="/favicon.ico">

  <title>Manhattan Listings</title>

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet'>

  <!-- CSS -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Google Analytics -->
  <%= render 'google_analytics' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">MANHATTAN LISTINGS</a>
      </div>
    </div>
</nav>

<%= yield %>

  <!-- JS -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
